resources/mesh/**.jpg filter=lfs diff=lfs merge=lfs -text
resources/mesh/**.png filter=lfs diff=lfs merge=lfs -text
resources/mesh/**.glb filter=lfs diff=lfs merge=lfs -text
resources/mesh/**.gltf filter=lfs diff=lfs merge=lfs -text
resources/mesh/**.bin filter=lfs diff=lfs merge=lfs -text

